.chipButton {
    padding: 0.2rem 1.2rem;
    border-radius: var(--radius-full);
    background-color: var(--color-bg-subtle);
    border: none;
    font-size: var(--font-size-sm);
    cursor: pointer;
    height: 2.3rem;
    color: var(--color-text-tertiary);
    font-weight: var(--font-weight-medium);
}

.positive {
    color: var(--color-action-primary);
}
