.container{
    display: flex;
    flex-direction: column;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2.6rem;
}

.action{
    display: flex;
    align-items: center;
    gap: 0.8rem;
}

.categories{
    align-self: flex-start;
    margin-bottom: 1.3rem;
}

.main{
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
}

.title{
    margin-bottom: 3.8rem;
    font-size: var(--font-size-xl-plus);
    font-weight: var(--font-weight-bold);
    line-height: 1;
    color: var(--color-text-primary);
}

.divider{
    width: 100%;
    border: 0;
    border-top: 1px solid var(--color-border-subtle);
    margin-bottom: 3.8rem;
}

.contentText{
    font-size: var(--font-size-md);
    line-height: var(--line-height-relaxed);
    color: var(--color-text-primary);
}

.contentImage{
    width: 100%;
    display: block;
    border-radius: var(--radius-md);
    border-color: var(--color-border-subtle);
}
