.meta {
    display: flex;
    align-items: flex-start;
    gap: 0.7rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: var(--color-text-quaternary);
    font-size: var(--font-size-xs);
}

.meta .divider{
    color: var(--color-text-muted);
}

.profileImg{
    width: 2.4rem;
    height: 2.4rem;
    border-radius: var(--radius-full);
}