.footer{
    width: 144rem;
    height: 8rem;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.copyright{
    font-size: var(--font-size-md);
    color: var(--color-text-tertiary);
}

.top{
    position: absolute;
    top: 1.6rem;
    left: 126.8rem;
}