.container{
    width: 28.8rem;
    height: 40rem;
    border-radius: var(--radius-md);
}

.thumbnail{
    border-radius:  var(--radius-md)  var(--radius-md) 0 0  ;
    height: 18rem;
    object-fit: cover;
}

.contents{
    padding: 1.6rem 2.4rem 2.4rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0.8rem;
}

.categoryList{
    flex-wrap: nowrap;
    justify-content: flex-start;
    overflow: hidden;
}

.title{
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-lg);
}

.description{
    font-size: var(--font-size-sm);
    line-height: 2rem;
    color: var(--color-text-quaternary);
}
