.btn{
    width: 6.4rem;
    height: 6.4rem;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;

    font-size: var(--font-size-sm);
    border-radius: var(--radius-md);

    transition: all 0.15s ease;
}

